@import "tailwindcss";

@font-face {
  font-family: 'AvalorsPersonalUseOnly';
  src: url('@icons/AvalorsPersonalUseOnly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ndastroneer';
  src: url('@icons/ndastroneer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-avalors {
  font-family: 'AvalorsPersonalUseOnly', sans-serif !important;
}
.font-astro {
  font-family: 'ndastroneer', sans-serif !important;
}
